
<html lang="en">
<head >
<title>The Coffee House</title>
<link rel="stylesheet" href={{ url_for('static',filename='css/style.css')}}>
</head>

<body>
<div id="Coffee">
<header>
<h1><b>The Coffee House</b></h1>
</header>

<nav>
<ul class="subheader">
  <li class="subheader"><a href="{{ url_for('Assignment1') }}"><b>Home</b></a></li>
  <li class="subheader"><a href="{{ url_for('Menu') }}"><b>Menu</b></a></li>
  <li class="subheader"><a href="{{ url_for('orderOnline') }}"><b>Order Online</b></a></li>
  <li class="subheader"><a href="{{ url_for('About_Us') }}"><b>About</b></a></li>
</ul>
</nav>

<main>

<h2>Specialty Drinks</h2>
<h3>Hot Drinks</h3>
<ul>
<li><strong>Homemade Chai</strong> &#8211; We make it in house with black tea, spices, and honey so its never too sweet and is just spicy enough.</li>
</ul>
<ul>
<li><strong>Hot Cider</strong> &#8211; Each fall and winter, we source locally grown and pressed apple cider.</li>
</ul>
<ul>
<li><strong>Spiced Americano</strong> &#8211; A bag of our Cardamon Cinnamon tea added to a traditional americano.</li>
</ul>
<ul>
<li><strong>London Fog</strong> &#8211; A rich combination of steamed milk, earl grey tea, and vanilla.</li>
</ul>
<ul>
<li><strong>Matcha</strong> &#8211; Japanese matcha powder, blended with milk.  Available hot or cold.</li>
</ul>
<ul>
<li><strong>Homemade Hot Chocolate</strong> &#8211; Blended in house with Dutch-process cocoa.</li>
</ul>
<ul>
<li><strong>Mexican Hot Chocolate</strong> &#8211; Our house-made cocoa spiced with chipotle and cinnamon.</li>
</ul>
<ul>
<li><strong>Almond Joy</strong> &#8211; Our house made hot chocolate with almond and coconut. Better than the candy!</li>
</ul>
<ul>
<li><strong> Vietnamese Coffee</strong> &#8211; Available hot and iced, it’s a rich combination of dark roast and sweetened condensed milk.</li>
</ul>
<h3>Iced Drinks</h3>
<ul>
<li><strong>Malted Cold Brew</strong> &#8211; Our concoction of concentrated cold brew, milk, cream, malt and a touch of sugar.</li>
</ul>
<ul>
<li><strong>Lemonade</strong> – Always squeezed fresh to order.</li>
</ul>
<ul>
<li><strong>Cranberry Cooler</strong> – A refreshing blend of 7-herb hibiscus tea and cranberry juice.</li>
</ul>
<ul>
<li> <strong>Iced Tea</strong> – In the summer time we offer up to six varieties of freshly brewed, unsweetened iced tea.</li>
</ul>
<ul>
<li> <strong>Italian Soda</strong> – Sweet syrups mixed with crisp sparkling water. Built to order. Make your own flavor!</li>
</ul>
</p>

<footer>
<i>Copyright &copy; The Coffe House<i><br>
   <a href="TermsConditions.html"><b>Terms & Conditions</b></a><br>
    Mail <b>Anurag Singh:</b> <a href="mailto:singh.anura@husky.neu.edu">singh.anura@husky.neu.edu</a>
</footer>


</div>
</body>
</html>
